%section
  %section
    %h1 gradienten
    %h1 -Verfahren
    %p
      %br/
  %section
    %h2 Prinzip
    %p
      %br/
    %p
      %br/
    %ul
      %li
        %font{:color => "#FFCC00"}
          %b Hopanzahl
        und
        %font{:color => "#FFCC00"}
          %b Kommunikationsradius
        als Distanzschätzung
      %li
        wenn
        %font{:color => "#FFCC00"}
          %b viele Distanzen
        bekannt sind haben kleine Messfehler weniger Auswirkung
        %br/
  %section
    = image_tag "prinzip_1.svg"
  %section
    = image_tag "prinzip_2.svg"
  %section
    = image_tag "prinzip_3.svg"
  %section
    = image_tag "prinzip_4.svg"
  %section
    = image_tag "prinzip_5.svg"
  %section
    = image_tag "prinzip_6.svg"
  %section
    %h2 Annahmen
    %p
      %br/
    %ul
      %li
        %font{:color => "#FFCC00"}
          %b 2D
        \- Koordinatensystem
      %li
        Sensorknoten sind
        %font{:color => "#FFCC00"}
          %b zufällig
        verteilt
      %li
        Knoten haben kein Wissen über:
        = succeed "," do
          %font{:color => "#FFCC00"}
            %b Topologie
        ihre
        %font{:color => "#FFCC00"}
          %b Position
        %br/
  %section
    %h2 Algorithmus
    %p
      %br
    %p
      %br
    %ul
      %li Gradientenbildung
      %li
        multilaterale Positionierung
        %br
