%section
  %section
    %h1 gradienten
    %h1 -Verfahren
    %p
      %br/
  %section
    %h2 Prinzip
    %p
      %br/
    %p
      %br/
    %ul
      %li
        %font{:color => "#FFCC00"}
          %b Hopanzahl
        und
        %font{:color => "#FFCC00"}
          %b Kommunikationsradius
        als Distanzschätzung
      %li
        wenn
        %font{:color => "#FFCC00"}
          %b viele Distanzen
        bekannt sind haben kleine Messfehler weniger Auswirkung
        %br/
  %section
    = image_tag "prinzip_1.svg"
  %section
    = image_tag "prinzip_2.svg"
  %section
    = image_tag "prinzip_3.svg"
  %section
    = image_tag "prinzip_4.svg"
  %section
    = image_tag "prinzip_5.svg"
  %section
    = image_tag "prinzip_6.svg"
  %section
    %h2 Annahmen
    %p
      %br/
    %ul
      %li
        %font{:color => "#FFCC00"}
          %b 2D
        \- Koordinatensystem
      %li
        Sensorknoten sind
        %font{:color => "#FFCC00"}
          %b zufällig
        verteilt
      %li
        Knoten haben kein Wissen über:
        = succeed "," do
          %font{:color => "#FFCC00"}
            %b Topologie
        ihre
        %font{:color => "#FFCC00"}
          %b Position
        %br/
  %section
    %h2 Algorithmus
    %p
      %br
    %p
      %br
    %ul
      %li Gradientenbildung
      %li
        multilaterale Positionierung
        %br
  %section
    %h2 Gradientenbildung
    %br
    %br
    %p{:align=> "left"}
      %font{:color => "#FFCC00"}
        %b Seed-Knoten:
    %div{:align=> "left", :style => "margin-left:50px"}
      %ul
        %li senden: [Position, Hopcount=1]
    %br
    %p{:align=> "left"}
      %font{:color => "#FFCC00"}
        %b Sensorknoten:
    %div{:align=> "left", :style => "margin-left:50px"}
      %ul
        %li speichern: [Position, Hopcount]
        %li senden: [Position, Hopcount+1]
  %section
    = image_tag "gradient_1.svg"
  %section
    = image_tag "gradient_2.svg"
  %section
    = image_tag "gradient_3.svg"
  %section
    = image_tag "gradient_4.svg"
  %section
    = image_tag "gradient_5.svg"
  %section
    = image_tag "gradient_6.svg"
  %section
    = image_tag "gradient_7.svg"
  %section
    = image_tag "gradient_entwicklung.png"
  %section
    %h2 Multilateration
    %br
    %br
    %p{:align => "left"}
      für jeden Knoten ab
      %font{:color => "#FFCC00"}
        %b 3 Distanzwerten
      möglich
      %br
      Anfangswert:
    %ul{:align => "left"}
      %li
        %font{:color => "#FFCC00"}
          %b nächster
        Seed-Knoten
      %li
        %font{:color => "#FFCC00"}
          %b Mittelwert
        aller Seed-Koordinaten
      %li
        %font{:color => "#FFCC00"}
          %b Triangulierung
        mit 3 Seed-Knoten
    %br
    %br
    %p{:align => "left"}
      dann:
      %font{:color => "#FFCC00"}
        %b Gradientenabstieg
  %section
    = image_tag "multilateration.svg"
  %section
    %h2 Fehleranalyse
    %br
    %br
    %p{:align => "left", :style => "margin-left:150px"}
      2 Fehlerquellen:
    %ul
      %li
        Schätzung der
        %font{:color => "#FFCC00"}
          %b Distanz
      %li
        %font{:color => "#FFCC00"}
          %b Multilaterationsfehler
  %section
    %h2 Fehler: Distanzschätzung I
    %br
    %br
    %p{:align => "left", :style => "margin-left:150px"}
      Probleme:
    %ul
      %li
        Hops nicht auf einer
        %font{:color => "#FFCC00"}
          %b Geraden
      %li
        Hopabstand ist nicht genau
        %font{:color => "#FFCC00"}
          %b r
  %section
    = image_tag "fehler_distanz_1.svg"
  %section
    = image_tag "fehler_distanz_2.svg"
  %section
    = image_tag "distance_per_hop_formula.png"
  %section
    = image_tag "distance_per_hop.png"
  %section
    %h2 Fehler: Distanzschätzung II
    %br
    %br
    %p{:align => "left", :style => "margin-left:150px"}
      Problem:
    %ul
      %li
        Distanz kann nur ein
        %font{:color => "#FFCC00"}
          %b Vielfaches von r
        sein
      %li
        Knoten jenseits der
        %font{:color => "#FFCC00"}
          %b Randgebiete
        fehlerhaft
      %li
        %font{:color => "#FFCC00"}
          %b Erwartungswert
        des Fehlers:
        %font{:color => "#FFCC00"}
          %b r/2
  %section
    = image_tag "fehler_granularitaet_1.svg"
  %section
    = image_tag "fehler_granularitaet_2.svg"
  %section
    %h2 Verbesserung
    %br
    %br
    %ul
      %li
        Nutzung der Hopcounts der
        %font{:color => "#FFCC00"}
          %b Nachbarn
      %li
        Bildung des
        %font{:color => "#FFCC00"}
          %b Mittelwertes
  %section
    = image_tag "verbesserung_granularitaet_1.svg"
  %section
    = image_tag "verbesserung_granularitaet_2.svg"
  %section
    = image_tag "gradient_error.png"
  %section
    %h2 Fehler Multilateration
    %br
    %br
    %p{:align => "left", :style => "margin-left:100px"}
      Ursache:
    %ul
      %li
        %font{:color => "#FFCC00"}
          %b Ausrichtung
        des Knotens zum Seed-Knoten
      %li
        %font{:color => "#FFCC00"}
          %b Position
        der Seed-Knoten ausschlaggebend
  %section
    = image_tag "fehler_multilateration.png"
  %section
    = image_tag "error_multilateration.png"
